body{
background-color: black;
line-height: 30PX;

margin: 0;
}
h1{
  color:White;
      text-align: center;
}
h2{
    color:White;
      text-align: center;

}

h3{
    color:White;
    position: relative;
    right: 200px;
    bottom: 50px;

}

p{
    color:White;
position: relative;

}

ul{
    color:White;
    position: relative;
    right: 200px;
    bottom: 50px;
}


.head1{
  margin: 10px auto 0 auto;
font-family: 'Lobster', cursive;
text-decoration: none;
display: inline-block;
position: relative;
bottom: 150px;
right: 60px;
}

.head2{
  font-family: 'Lobster', cursive;
  text-decoration: none;
  display: inline-block;
  position: relative;
  bottom: 110px;
  right: 320px;
  margin: auto;
}

.top-container{
padding: 300px;
}

.eye{
  position: relative;
  bottom: 200px;
  left: 300px;
  margin: auto;
  height: 300px;
}

hr{
  border-style:none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
  position: relative;
  bottom: 100px;
  right: 13px
}

.AR{
  border-radius: 50%;
  height: 300px;
  position: relative;
  left: 320px;
  bottom: 100px;
}

.middle-container{
  padding: 100px;
  position:relative;
  bottom: 300px;
  left: 105px;
}

.work{
  position: relative;
  left: 200px;
  bottom: 100px;
}

table{
  color: white;
position: relative;
left: 170px;
bottom: 80px;
}

.bottom-container{
  color: powderblue;
  height: 200px;
  width: 100%;
}
